.projects-container {
  padding: 80px 50px;
}

.card-image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.container-box {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
}

.tag {
  padding: 4px 8px;
  margin-right: 8px;
  border: 1px solid #a59fce;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  color: #a59fce;
}

.tag:hover {
  background-color: #a59fce;
  cursor: pointer;
  color: white;
}

.projects-heading {
  font-size: 3em;
  margin-top: 16px;
  margin-bottom: 30px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
}

.colored-projects-heading {
  color: #a59fce;
}

.name:hover {
  cursor: pointer;
  color: #323840;
}

.read-more {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #a59fce;
  border-radius: 10px;
  border: 2px solid #a59fce;
  font-weight: 500;
  transition: 0.3s;
}

.read-more:focus,
.read-more:hover {
  color: #a59fce;
  background: transparent;
  transition: 0.5s;
}

.card-details {
  padding: 16px;
}

.description {
  padding: 10px 0px;
  font-size: 15px;
  line-height: 150%;
  color: #212529;
}

.preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

@media only screen and (max-width: 600px) {
  .preview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-container {
    padding: 50px 30px;
  }
}

.loader-box {
  height: 30vh;
}

.loader {
  color: #a59fce;
}

.codeImage {
  width: 100px;
}
