.basic-2 {
  padding-top: 8rem;
  padding-bottom: 4.25rem;
}

.basic-2 .text-container {
  margin-bottom: 5rem;
}

.basic-2 h2 {
  margin-bottom: 1.5rem;
}

.basic-2 .list-unstyled {
  margin-bottom: 1.75rem;
}

.basic-2 .list-unstyled .fas {
  color: #356ee8;
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.basic-2 .list-unstyled .media-body {
  margin-left: 0.5rem;
}
