.contact-container {
  padding: 80px 50px;
}

.contact-heading {
  font-size: 3em;
  margin-top: 16px;
  margin-bottom: 20px;
}

.colored-contact-heading {
  color: #a59fce;
}

.chatImage {
  text-align: center;
  width: 100px;
}

.contact-text {
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.label,
input {
  font-family: "Outfit", "Roboto", "Oxygen";
}

.submit-button {
  font-family: "Outfit", "Roboto", "Oxygen";
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  background: #a59fce;
  border-radius: 10px;
  border: 2px solid #a59fce;
  font-weight: 500;
  transition: 0.3s;
}

.submit-button:hover {
  color: #a59fce;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #a59fce;
}
