body {
  margin: 0;
  font-family: Ubuntu, "Roboto", "Oxygen";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Ubuntu, Menlo, Monaco, Consolas, "Courier New", monospace;
}
